.header-main-container {
  width: 87vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  margin-top: calc(2vw + -2rem);
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  @media (min-width: 1440px) {
    width: 83vw;
    align-items: flex-start;
    margin-top: calc(2vw + -4rem);
    padding: 1.5rem 2rem;
  }

  ul {
    display: flex;
    gap: 16px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      list-style: none;
      background-color: var(--background-color);
      color: var(--primary-color);
      font-weight: 700;
      margin-bottom: 0.5rem;
      border-radius: 5px;
      padding: 0 0 0 0.5rem;

      &:not(:last-child) {
        margin-bottom: 0px;
        padding: 5px 8px;
      }
    }
    .close-button {
      background-color: var(--primary-color);

      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      margin-left: 0.5rem;
      transition: all 0.2s;
      img {
        padding: 0.5rem;
      }

      &:hover {
        background-color: var(--dark-grayish);
      }
    }

    .clear {
      color: var(--dark-grayish);
      text-decoration: none;
      &:hover {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
}
